$primary-background-color: #f7f8a4;
$secondary-background-color:  #145959;

$primary-white-color: #ffffff;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$border-radius: 6px;
$box-shadow: 0 0 6px rgba(20, 89, 89, 0.5), 0 0 9px rgba(20, 89, 89, 0.5);